{% extends '../layouts/base.html' %}
{% import '../macros/slide.html' as m_slide %}
{% import '../macros/shop.html' as m_shop %}

{% block content %}
<header class="aui-bar aui-bar-nav">
    <div class="aui-title">{{title}}</div>
    <a class="aui-pull-right aui-btn" href="/manage">
        <span class="aui-iconfont aui-icon-gear"></span>
    </a>
</header>

<section class="aui-content">
    {{ m_slide.slide('page-slide') }}
</section>

<section class="aui-content">
    {{ m_shop.staff_list('staff_list', shop.staffs) }}
</section>

<section class="aui-content">
    {{ m_shop.service_list('service_list', shop.services) }}
</section>
{% endblock %}