<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link href="/styles/aui/aui.css" rel="stylesheet">
    <link href="/styles/aui/aui-flex.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
