{% extends './base.html' %}

{% block head %}
<script src="/javascripts/appmng.js"></script>
{% endblock %}

{% block content %}
<!--<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="/">
        <span class="aui-iconfont aui-icon-home"></span>
    </a>

    <div class="aui-title">{{title}}</div>
    <a class="aui-pull-right aui-btn">
        <span class="aui-iconfont aui-icon-menu"></span>
    </a>
</header>-->
{% block manage_content %}{% endblock %}

{% endblock %}


