{% extends 'base.html' %}
{% import '../macros/common.html' as m_common %}

{% block head %}
<script src="/javascripts/app.js"></script>
<script type="text/javascript" src="/javascripts/aui/aui-tab.js" ></script>
<script type="text/javascript" src="/javascripts/aui/aui-skin.js" ></script>
<link href="/styles/app.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% block page_content %}{% endblock %}

{% block page_footer %}

<div style="margin-bottom: 50px;"></div>

{{ m_common.footer('page_footer') }}

<script type="text/javascript">
    var tab = new auiTab({
        element:document.getElementById("page_footer"),
        index:{{ footer_index || 1 }},
        repeatClick:false
    },function(ret){
        switch(ret.index){
            default:
            case 1:
                location.href = '/';
                break;

            case 2:
                location.href = '/commune';
                break;

            case 3:
                location.href = '/mall';
                break;

            case 4:
                location.href = '/account';
                break;
        }
    });
</script>

{% endblock %}

{% endblock %}