{% extends '../../layouts/page.html' %}

{% block page_content %}

<section class="aui-content-padded">
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">扫描我的二维码，关注美客公社</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <img src="{{ image }}" style="width: 100%">
            </div>
        </li>
    </ul>
</section>

{% endblock %}

{% block page_footer %}{% endblock %}