{% extends '../../layouts/page.html' %}

{% block page_content %}

<section class="aui-content">
    <div style="background-color: #ccc">
        <div class="bg-blur" style="background-image: url('{{ account.portrait}}'); height:10rem"></div>
    </div>

    <ul class="aui-list aui-media-list" style="margin-top: -10rem;">
        <li class="aui-list-item" style="background-color: transparent;">
            <div class="aui-list-item-inner" style="text-align: center;">
                <img src="{{ account.portrait }}" style="width:5rem;height: 5rem"
                     class="aui-img-round aui-margin-t-10"/>

                <div class="aui-list-item-text aui-list-item-center" style="color: white">{{ account.name }}</div>
                <div class="aui-list-item-text aui-list-item-center" style="color: white">{{ account.phone }}</div>
            </div>
        </li>
    </ul>

    <ul class="aui-list aui-media-list">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-row aui-row-padded" style="text-align: center">
                    <div class="aui-col-xs-4 aui-border-r" onclick="location.href='/account/market/code'">
                        <p>二维码</p>
                    </div>
                    <div class="aui-col-xs-4 aui-border-r">
                        <p>积分：{{ account.points }}</p>
                    </div>
                    <div class="aui-col-xs-4" {% if account.members>0 %}onclick="location.href='/account/members'"{% endif %}>
                        <p>下级会员：{{ account.members }}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <!--<div class="aui-grid">
        <div class="aui-row">
            <div class="aui-col-xs-4">
                <i class="aui-iconfont aui-icon-flag"></i>

                <div class="aui-grid-label">积分：{{ account.points }}</div>
            </div>
            <div class="aui-col-xs-4">
                <i class="aui-iconfont aui-icon-cart"></i>

                <div class="aui-grid-label">消费：{{ account.records }}</div>
            </div>
            <div class="aui-col-xs-4" id="members-btn">
                <i class="aui-iconfont aui-icon-share"></i>

                <div class="aui-grid-label">下级会员：{{ account.members.length }}</div>
            </div>
        </div>
    </div>-->

    <ul class="aui-list aui-media-list">
        <li class="aui-list-item" style="background-color: #333333;">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-text" style="color: #ffffff;">我的订单</div>
            </div>
        </li>
    </ul>

    <div class="aui-grid">
        <div class="aui-row">
            <div class="aui-col-xs-4" id="unpaid-btn">
                <i class="aui-iconfont aui-icon-date"></i>

                <div class="aui-grid-label">未支付</div>
            </div>
            <div class="aui-col-xs-4" id="unused-btn">
                <i class="aui-iconfont aui-icon-cert"></i>

                <div class="aui-grid-label">未消费</div>
            </div>
            <div class="aui-col-xs-4" id="refund-btn">
                <i class="aui-iconfont aui-icon-calendar"></i>

                <div class="aui-grid-label">退款/售后</div>
            </div>
        </div>
        {% if account.role.indexOf('manager') >= 0 %}
        <div class="aui-row">
            <div class="aui-col-xs-4" id="manage-btn">
                <i class="aui-iconfont aui-icon-home"></i>

                <div class="aui-grid-label">商铺管理</div>
            </div>
            <div class="aui-col-xs-4" id="user-consume">
                <i class="aui-iconfont aui-icon-pencil"></i>

                <div class="aui-grid-label">用户消费</div>
            </div>
        </div>
        {% endif %}
    </div>

</section>

{% endblock %}