{% extends '../../layouts/page.html' %}
{% macro order_list(values) %}

{% if values %}
{% for order in values %}
<ul class="aui-list aui-media-list aui-hide">
    <li class="aui-list-header">
        {{ loop.key }}
    </li>
    {% for item in order %}
    <li class="aui-list-item" data-type="order-{{ item.state }}" data-id="{{ item._id.toString() }}">
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media" style="width: 3rem;">
                <img src="{{ item.service.icon }}" class="aui-img-round aui-list-img-sm">
            </div>
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-font-size-14">{{ item.service.name }}</div>
                    <div class="aui-list-item-right">{{ item.state|state_str }}</div>
                </div>
                <div class="aui-list-item-text" style="color: red">
                    ￥ {{ item.price }}
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% else %}
<ul class="aui-list aui-hide">
    <li class="aui-list-item">
        <div class="aui-list-item-text">分类下暂时没有内容</div>
    </li>
</ul>
{% endif %}

{% endmacro %}

{% block page_content %}

<div class="aui-content">
    <div class="aui-tab" id="order-tab">
        <div class="aui-tab-item aui-active">全部订单</div>
        <div class="aui-tab-item">未支付</div>
        <div class="aui-tab-item">未消费</div>
        <div class="aui-tab-item">退款/售后</div>
    </div>

    <div id="order-list">
        {{ order_list(orders) }}
        {{ order_list(unpaid) }}
        {{ order_list(unused) }}
        {{ order_list(refund) }}
    </div>
</div>

{% endblock %}

{% block page_footer %}

<script type="text/javascript">
    // TODO: check number value
    var tab_index = window.location.hash ? parseInt(window.location.hash.substring(1)) : 1;

    var tab = new auiTab({
        element: document.getElementById("order-tab"),
        index: tab_index,
        repeatClick: false
    }, function (ret) {
        showList(ret.index);
    });

    showList(tab_index);

    function showList(index) {
        $('#order-list ul').each(function (n, item) {
            if (n == index - 1) {
                $(item).removeClass('aui-hide');
            } else {
                $(item).addClass('aui-hide');
            }
        })
    }
</script>

{% endblock %}