{% extends '../../layouts/page.html' %}

{% block page_content %}



{% endblock %}

{% block page_footer %}

<div>{{ JSON.stringify(payArgs) }}</div>

<script type="text/javascript">
    $('document').ready(function () {
        WeixinJSBridge.invoke("getBrandWCPayRequest", '{{ JSON.stringify(payArgs) }}', function (res) {
            if (res.err_msg == "get_brand_wcpay_request:ok") {
                // success
                location.href = '/account';
            } else {
                alert('支付失败');
            }
        });
        alert('ok');
    });
</script>

{% endblock %}