{% extends '../../layouts/page.html' %}

{% block page_content %}

<div class="aui-content-padded">
    <ul class="aui-list">
        <li class="aui-list-header">
            支付成功，消费时请出示一下代码
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <h2>{{ code }}</h2>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <a href="/account">返回个人中心</a>
            </div>
        </li>
    </ul>
</div>

{% endblock %}

{% block page_footer %}{% endblock %}