{% extends '../../layouts/manage.html' %}

{% block manage_content %}

<form data-type="service-form" method="post" target="_self">
    <div class="aui-content aui-margin-b-15">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        名称
                    </div>
                    <div class="aui-list-item-input">
                        <input name="name" type="text" value="{{ service.name }}" placeholder="项目名称">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        启用
                    </div>
                    <div class="aui-list-item-input">
                        <input name="enabled" type="checkbox" class="aui-switch" {% if service.enabled %}checked{% endif
                               %}>
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        图标
                    </div>
                    <div class="aui-list-item-input">
                        <input name="icon" type="text" value="{{ service.icon }}" placeholder="图标地址">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        时长
                    </div>
                    <div class="aui-list-item-input">
                        <input name="duration" type="number" value="{{ service.duration }}" placeholder="耗时分钟数">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        价格
                    </div>
                    <div class="aui-list-item-input">
                        <input name="price" type="number" value="{{ service.price }}" placeholder="售卖价格">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        原始价格
                    </div>
                    <div class="aui-list-item-input">
                        <input name="original" type="number" value="{{ service.original }}" placeholder="原始价格">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        介绍
                    </div>
                    <div class="aui-list-item-input">
                        <textarea name="intro" placeholder="服务项目的文字介绍">{{ service.intro }}</textarea>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="aui-list aui-select-list">
            <li class="aui-list-header">提供这项服务的员工</li>
            {% for staff in staffs %}
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <label><input class="aui-checkbox" type="checkbox" name="staffs" value="{{ staff._id.toString() }}" checked>  {{ staff.name }}</label>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if service %}
    <input name="_id" type="hidden" value="{{ service._id.toString() }}">
    {% endif %}
</form>

<footer class="aui-bar aui-bar-tab" id="footer">
    <a class="aui-bar-tab-item aui-active" data-type="service-confirm" tapmode>
        保 存
    </a>
</footer>

{% endblock %}